.bg-images {
  background-repeat: repeat-y;
  background-image: url('https://res.cloudinary.com/ds1piowcn/image/upload/v1719826948/bridge_x52ej5.jpg');
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 150px;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  font-size: 40px;
  font-family: roboto;
}

.bg-container-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  background-color: rgb(52, 50, 50);
  color: #ffffff;
}
